<footer class="footer">
  <div class="container">
    <div class="footer__content">
      <p class="footer__title">Our social media</p>
      <nav class="footer__networks">
        <ul class="footer__item">
          <li>
            <a href="#" class="footer__link">
              <img
                class="footer__img"
                src="https://download.logo.wine/logo/Instagram/Instagram-Logo.wine.png"
                alt="image"
              />
              instagram
            </a>
          </li>
        </ul>
        <ul class="footer__item">
          <li>
            <a href="#" class="footer__link">
              <img
                class="footer__img"
                src="https://download.logo.wine/logo/Instagram/Instagram-Logo.wine.png"
                alt="image"
              />
              facebook
            </a>
          </li>
        </ul>
        <ul class="footer__item">
          <li>
            <a href="#" class="footer__link">
              <img
                class="footer__img"
                src="https://download.logo.wine/logo/Instagram/Instagram-Logo.wine.png"
                alt="image"
              />
              vkontakte
            </a>
          </li>
        </ul>
      </nav>
    </div>
  </div>
</footer>
