<header class="header">
  <!-- NAVBAR -->
  <div class="navbar">
    <div class="container">
      <div class="navbar__content">
        <a href="#" class="navbar__logo">
          <img
            loading="lazy"
            src="../assets/svg/logoGB.svg"
            class="navbar__image"
            alt="Logo"
          />
        </a>
        <nav class="navbar__menu" title="Main Menu" data-menu>
          <ul class="navbar__list">
            <!-- the list can be expanded -->
            <li><a href="#" class="navbar__item">Text</a></li>
            <li><a href="#" class="navbar__item">Text</a></li>
            <li><a href="#" class="navbar__item">Text</a></li>
            <li><a href="#" class="navbar__item">Text</a></li>
          </ul>
        </nav>
        <div class="navbar__link">
          <a
            href="tel:+7 900 123 45 67"
            name="+7(900)123 45-67"
            class="navbar__phone"
            >+7 901 123 45 67</a
          >
          <button type="button" class="navbar__button">Button</button>
        </div>
      </div>
    </div>
  </div>
  <!-- NAVBAR END -->
  <div class="container">
    <div class="header__content">
      <h1 class="header__text">It could have been your text...</h1>
      <p class="header__subtext">
        There could have been your text here too, alas...
      </p>
      <button class="header__button button-res">
        This could be your button
      </button>
    </div>
  </div>
</header>
