<section class="gallery">
  <div class="container">
    <div class="gallery__hat">
      <h2 class="gallery__title title-h2">Your Gallery</h2>
      <p class="gallery__subtitle subtitle">some text for the gallery</p>
    </div>
    <div class="gallery__block">
      <ul class="gallery__pictures">
        <li>
          <img
            class="gallery__img"
            src="https://images.unsplash.com/photo-1678698611311-535d7d644c1d?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1138&q=80"
            alt="Gallery"
          />
        </li>
        <li class="gallery__block_hidefirst">
          <img
            class="gallery__img"
            src="https://images.unsplash.com/photo-1678698611311-535d7d644c1d?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1138&q=80"
            alt="Gallery"
          />
        </li>
        <li class="gallery__block_hidesecond">
          <img
            class="gallery__img"
            src="https://images.unsplash.com/photo-1678698611311-535d7d644c1d?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1138&q=80"
            alt="Gallery"
          />
        </li>
        <li>
          <img
            class="gallery__img"
            src="https://images.unsplash.com/photo-1678698611311-535d7d644c1d?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1138&q=80"
            alt="Gallery"
          />
        </li>
      </ul>
      <ul class="gallery__picture">
        <li>
          <img
            class="gallery__image"
            src="https://images.unsplash.com/photo-1678698611311-535d7d644c1d?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1138&q=80"
            alt="Gallery"
          />
        </li>
        <li class="gallery__block_hidesecond">
          <img
            class="gallery__image"
            src="https://images.unsplash.com/photo-1678698611311-535d7d644c1d?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1138&q=80"
            alt="Gallery"
          />
        </li>
        <li class="gallery__block_hidefirst">
          <img
            class="gallery__image"
            src="https://images.unsplash.com/photo-1678698611311-535d7d644c1d?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1138&q=80"
            alt="Gallery"
          />
        </li>
        <li>
          <img
            class="gallery__image"
            src="https://images.unsplash.com/photo-1678698611311-535d7d644c1d?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1138&q=80"
            alt="Gallery"
          />
        </li>
        <li>
          <img
            class="gallery__image"
            src="https://images.unsplash.com/photo-1678698611311-535d7d644c1d?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1138&q=80"
            alt="Gallery"
          />
        </li>
      </ul>
      <ul class="gallery__pictures">
        <li>
          <img
            class="gallery__img"
            src="https://images.unsplash.com/photo-1678698611311-535d7d644c1d?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1138&q=80"
            alt="Gallery"
          />
        </li>
        <li>
          <img
            class="gallery__img"
            src="https://images.unsplash.com/photo-1678698611311-535d7d644c1d?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1138&q=80"
            alt="Gallery"
          />
        </li>
        <li class="gallery__block_hidesecond">
          <img
            class="gallery__img"
            src="https://images.unsplash.com/photo-1678698611311-535d7d644c1d?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1138&q=80"
            alt="Gallery"
          />
        </li>
        <li class="gallery__block_hidefirst">
          <img
            class="gallery__img"
            src="https://images.unsplash.com/photo-1678698611311-535d7d644c1d?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1138&q=80"
            alt="Gallery"
          />
        </li>
      </ul>
    </div>
  </div>
</section>
