<nav class="navbar">
  <div class="navbar__content">
    <div class="navbar__logo">
      <!-- <img src="" alt=""> - not stile!!! -->
      LOREMIPSUM.<span class="navbar__span">NET</span>
    </div>
    <div class="hamburger">
      <!-- span = line in menu -->
      <span class="hamburger__bar"></span>
      <span class="hamburger__bar"></span>
      <span class="hamburger__bar"></span>
    </div>
    <ul class="navbar__menu">
      <!-- the list can be expanded -->
      <li class="navbar__list"><a class="navbar__link" href="#">Text</a></li>
      <li class="navbar__list"><a class="navbar__link" href="#">Text</a></li>
      <li class="navbar__list"><a class="navbar__link" href="#">Text</a></li>
      <li class="navbar__list">
        <a class="navbar__link" href="#">Text Link</a>
      </li>
    </ul>
  </div>
</nav>
