<div class="slider">
  <div class="slider__form" id="formList">
    <div id="slider__list">
      <div class="slider__item">
        <img class="slider__image" src="https://images.unsplash.com/photo-1677157371154-a88b4eec763e?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=580&q=80" class="avatar" />
      </div>
      <div class="slider__item">
        <img class="slider__image" src="https://images.unsplash.com/photo-1677157371154-a88b4eec763e?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=580&q=80" class="avatar" />
      </div>
      <div class="slider__item">
        <img class="slider__image" src="https://images.unsplash.com/photo-1677157371154-a88b4eec763e?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=580&q=80" class="avatar" />
      </div>
      <div class="slider__item">
        <img class="slider__image" src="https://images.unsplash.com/photo-1677157371154-a88b4eec763e?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=580&q=80" class="avatar" />
      </div>
      <div class="slider__item">
        <img class="slider__image" src="https://images.unsplash.com/photo-1677157371154-a88b4eec763e?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=580&q=80" class="avatar" />
      </div>
      <div class="slider__item">
        <img class="slider__image" src="https://images.unsplash.com/photo-1677157371154-a88b4eec763e?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=580&q=80" class="avatar" />
      </div>
    </div>
  </div>

  <div class="slider__direction">
    <button class="slider__button id="prev"><</button>
    <button class="slider__button id="next">></button>
  </div>
</div>
